venv/
__pycache__/
heroku_mysql.txt
bb0d08a9933f05-cert.pem
bb0d08a9933f05-key.pem
cleardb-ca.pem

flaskenv
.DS_Store

main_calcALL.cpython-310-darwin.so
main_calcALL-f2pywrappers2
main_calcALL-f2pywrappers.f
main_calcALLmodule.c
genPosition.cpython-310-darwin.so
genPosition-f2pywrappers2
genPosition-f2pywrappers.f
genPositionmodule.c