venv/
__pycache__/
/main_calcALL.cpython-310-darwin.so
/main_calcALL-f2pywrappers2.f90
/main_calcALL-f2pywrappers.f
/main_calcALLmodule.c
/genPosition.cpython-310-darwin.so
/genPosition-f2pywrappers2.f90
/genPosition-f2pywrappers.f
/genPositionmodule.c