* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* This is key for centering, full width, check borders w/ & w/o */
    /* overflow: auto; */
}

:root {
    /* --bg-image: url('https://helios-i.mashable.com/imagery/articles/04xiSvNtqBjg2FTly1Tb3tG/hero-image.fill.size_1248x702.v1623369589.png') */
    --bg-image: url('https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/20180041842_goes16-abi-conus-geocolor-2500x1500.jpg');
    --color: rgba(255,255,255,1);
    --bgcolor0: #CEB888;
    --bgcolor1: #CEB888;
    --bgcolor2: #CEB888;
    --bgcolor3: #CEB888;
    --blinkingBackground0: ;
    --blinkingBackground1: ;
    --blinkingBackground2: ;
    --animation1: ;
    --animation2: ;
    --animation3: ;
    --margin-left: 37.5%;
}

body {
    background-color: black;
}

a {
   /*  color: var(--color); */
    text-decoration: none;
}

li {
    list-style: none;
}

/* START NAVBAR */

.container0 {
    /* border-bottom: 4px solid #CEB888; */
    /* position: fixed; */
    /* top: -10px;
    width: 100%;
    transition: top 0.3s; */
}

.logo-home, .logo-sim {
    font-size: 18px;
    padding: 5px;
    color: #CEB888;
    border: 2px solid black;
    box-shadow: 0px 0px 7.5px rgba(206,184,136,1);
    border-radius: 5px;
    background-color: black;
}

.navbar {
    position: fixed;
    width: 100%;
    /* overflow: scroll */;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    z-index: 10;
    background-color: black;

    border-bottom: 4px solid rgba(206,184,136,1);
}

.nav-links a {
    color: rgba(206,184,136,1);
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover, a:hover, .menu:focus {
    /* background-color: rgba(10, 10, 10, 0.85);
    color: #CEB888; */
    border-color: #CEB888;
    /* box-shadow: 0px 0px 5px rgba(206,184,136,0.85); */
    box-shadow: black;
    background-color: #CEB888;
    color: black;
    /* border-radius: 5px 14px; */
    transition: 0.3s ease;
}

.menu li {
    padding: 5px;
    border: 2px solid #CEB888;
    border-radius: 5px;
    /* box-shadow: 0px 0px 5px rgba(10,10,10,0.85); */
    box-shadow: 0px 0px 5px rgba(206,184,136,7.5);
    /* background-color: rgba(206,184,136,1); */
    background-color: black;

    transition: all 0.2 ease-in-out;
}

.menu li:active {
    transform: scale(1.1);
    transition: 0.1;
}

/* END NAVBAR */

/* START UPPER DIV */

.page0 {
    display: block;
    /* position: fixed; */
    /* top: 65px; */
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0;
    /* margin-top: 10vh; */
    /* margin-bottom: 2vh; */
    width: 100%;
    padding: 0;
    /* text-align: center; */
    color: #CEB888;
    /* border-top: 4px solid #CEB888; */
    /* border-bottom: 4px solid #CEB888; */
    z-index: 9;

    position: absolute;
    top: 100vh;
}

.hero0 {
    display: inline-block;
    width: 100vw;
    height: calc(100vh + 360px);
    position: relative;
    margin: 0;
    padding: 5px;
    color: #CEB888;
    border-radius: 5px;
    /* text-align: center; */
    /* justify-items: center; */
    background-color: black;
    /* border: 2px solid rgba(10,10,10,0.85); */
    /* border: 2px solid red; */
    z-index: 5;

    overflow: hidden;

    /* top: 1000px; */

}

.grid0-wrapper {
    position: absolute;
    right: -240px;
    top: 240px;

    animation: slideRL 2s forwards;
    animation-delay: 1s;
}

.grid0 {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content;
    grid-template-rows: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
    grid-gap: 0px;
    z-index: 9;
}

.grid0__cell {
    width: 30px;
    height: 30px;
    /* background-color: black; */
    border: 1px dashed rgba(207,207,196,1);
    box-shadow: 0px 0px 1px white;
}

@-webkit-keyframes slideRL {
    100% { right: calc(50% - 120px); }
}

@keyframes slideRL {
    100% { right: calc(50% - 120px); }
}

.grid1-wrapper {
    position: absolute;
    left: -240px;
    top: 240px;

    animation: slideLR 2s forwards;
    animation-delay: 1.3s;
}

.grid1 {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content ;
    grid-template-rows: max-content max-content max-content max-content;
    grid-gap: 0px;

    z-index: 9;
    /* opacity: 0.5; */

    position: absolute;
    top: 60px;
    /* left: 30px; */
}

.grid1__cell {
    width: 30px;
    height: 30px;
    /* background-color: black; */
    border: 2px solid rgba(119,221,119,1);
    opacity: 1;
}

@-webkit-keyframes slideLR {
    100% { left: calc(50% - 15px); }
}

@keyframes slideLR {
    100% { left: calc(50% - 15px); }
}

.grid2-wrapper {
    position: absolute;
    right: -240px;
    top: 240px;

    animation: slideRL2 2s forwards;
    animation-delay: 1.4s;
}

.grid2 {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content max-content max-content;
    grid-gap: 0px;

    z-index: 9;
    /* opacity: 0.5; */

    position: absolute;
    top: 75px;
    /* left: 60px; */
}

.grid2__cell {
    width: 30px;
    height: 30px;
    /* background-color: black; */
    border: 3px solid rgba(119,158,203,1);
    opacity: 0.9;
}

.grid0__cell49 {
    animation: var(--blinkingBackground0);
    animation-delay: 1s;
    /* animation: var(--blinkingBackground) 2s infinite; */
}

.grid0__cell49:hover {
    animation: var(--blinkingBackground0) 0.5s ease-out;
}

.grid1__cell2 {
    animation: var(--blinkingBackground1);
    animation-delay: 1.3s;
    /* animation: var(--blinkingBackground) 2s infinite; */
}

.grid1__cell2:hover {
    animation: var(--blinkingBackground1) 0.5s ease-out;
}

.grid2__cell0 {
    animation: var(--blinkingBackground2);
    animation-delay: 1.4s;
    /* animation: var(--blinkingBackground) 2s infinite; */
}

.grid2__cell0:hover {
    animation: var(--blinkingBackground2) 0.5s ease-out;
}

@keyframes blinkingBackground0 {
    0%		{ background-color: rgba(255,255,255,0.9);}
    50%		{ background-color: rgba(255,255,255,0.5);}
    100%		{ background-color: rgba(255,255,255,0.1);}
    0%		{ background-color: rgba(255,255,255,0.9);}
    50%		{ background-color: rgba(255,255,255,0.5);}
    100%		{ background-color: rgba(255,255,255,0.1);}
    0%		{ background-color: rgba(255,255,255,0.9);}
    50%		{ background-color: rgba(255,255,255,0.5);}
    100%		{ background-color: rgba(255,255,255,0.1);}
}
/* @keyframes blinkingBackground0 {
    0%		{ color: #CEB888;}
    50%		{ color: black;}
    100%		{ color: #CEB888;}
    0%		{ border-color: #CEB888;}
    50%		{ border-color: black;}
    100%		{ border-color: #CEB888;}
    0%		{ background-color: black;}
    50%		{ background-color: #CEB888;}
    100%		{ background-color: black;}
} */

@keyframes blinkingBackground1 {
    0%		{ background-color: rgba(119,221,119,0.9);}
    50%		{ background-color: rgba(119,221,119,0.5);}
    100%		{ background-color: rgba(119,221,119,0.1);}
    0%		{ background-color: rgba(119,221,119,0.9);}
    50%		{ background-color: rgba(119,221,119,0.5);}
    100%		{ background-color: rgba(119,221,119,0.1);}
    0%		{ background-color: rgba(119,221,119,0.9);}
    50%		{ background-color: rgba(119,221,119,0.5);}
    100%		{ background-color: rgba(119,221,119,0.1);}
}

@keyframes blinkingBackground2 {
    0%		{ background-color: rgba(119,158,203,0.9);}
    50%		{ background-color: rgba(119,158,203,0.5);}
    100%		{ background-color: rgba(119,158,203,0.1);}
    0%		{ background-color: rgba(119,158,203,0.9);}
    50%		{ background-color: rgba(119,158,203,0.5);}
    100%		{ background-color: rgba(119,158,203,0.1);}
    0%		{ background-color: rgba(119,158,203,0.9);}
    50%		{ background-color: rgba(119,158,203,0.5);}
    100%		{ background-color: rgba(119,158,203,0.1);}
}

/* @keyframes blinkingBackground1 {
    0%		{ color: rgba(119,221,119,0.5);}
    50%		{ color: rgba(0,0,0,0.5);}
    100%		{ color: rgba(119,221,119,0.5)}
    0%		{ border-color: rgba(119,221,119,0.5);}
    50%		{ border-color: rgba(0,0,0,0.5);}
    100%		{ border-color: rgba(119,221,119,0.5);}
    0%		{ background-color: rgba(0,0,0,0.5);}
    50%		{ background-color: rgba(119,221,119,0.5);}
    100%		{ background-color: rgba(0,0,0,0.5);}
} */

/* @media all and (orientation: portrait) {
    .example {
        margin: 150px 100px;
    }

} */

.example0 {
    visibility: hidden;
    z-index: 9;

    width: 240px;
    height: 240px;
    margin: auto;
    background-color: black;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 2px solid white;
    font-weight: bold;

    position: absolute;
    left: 120px;
    top: calc(150px + 240px);
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);

    box-shadow: 0px 0px 5px white;

    overflow: hidden;
}

.close0 {
    color: white;
    font-size: 25px;

    position: absolute;
    right: 10px;

    z-index: 100;
}

.grid3 {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-rows: max-content max-content max-content;
    grid-gap: 0px;

    z-index: 9;
    /* opacity: 0.5; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid3__cell {
    width: 80px;
    height: 80px;
    /* background-color: black; */
    border: 1px dashed rgba(207,207,196,1);
    /* box-shadow: 0px 0px 1px white; */
}

.example1 {
    visibility: hidden;
    z-index: 9;

    width: 240px;
    height: 240px;
    margin: auto;
    background-color: black;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 2px solid rgba(119,221,119,1);
    font-weight: bold;

    position: absolute;
    right: 120px;
    top: 45px;
    transform: translate(50%, 0%);
    -ms-transform: translate(50%, 0%);
    -webkit-transform: translate(50%, 0%);

    box-shadow: 0px 0px 5px rgba(119,221,119,1);

    overflow: hidden;
}

.close1 {
    color: rgba(119,221,119,1);
    font-size: 25px;

    position: absolute;
    right: 10px;

    z-index: 100;
}

@-webkit-keyframes slideRL2 {
    100% { right: calc(50% + 60px); }
}

@keyframes slideRL2 {
    100% { right: calc(50% + 60px); }
}

.arrow0 {
    z-index: 9;
    color: white;
}

.arrow1 {
    z-index: 9;
    color: rgba(119,221,119,1);
}

.arrow2 {
    z-index: 9;
    color: rgba(119,158,203,1);
}

.W {
    font-size: 30px;
    background-size: contain;

    position: absolute;
    top: calc(120px - 22.5px);
    left: calc(80px - 30px);

    animation-name: bounceAlphaW;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.E {
    font-size: 30px;
    background-size: contain;

    position: absolute;
    top: calc(120px - 22.5px);
    right: calc(80px - 30px);

    animation-name: bounceAlphaE;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.N {
    font-size: 30px;
    background-size: contain;

    position: absolute;
    top: calc(80px - 30px);
    left: calc(50% - 12px);
    /* transform: translateX(-50%); */

    animation-name: bounceAlphaN;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.S {
    font-size: 30px;
    background-size: contain;

    position: absolute;
    top: calc(80px + 80px - 7.5px);
    /* left: calc(165px + 7.5px); */
    left: calc(50% - 12px);
    /* transform: translateX(-50%); */

    animation-name: bounceAlphaS;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


@keyframes bounceAlphaW {
    0% {opacity: 1;
        transform: translateX(0px) scale(1);}
    25%{opacity: 0; transform:translateX(-10px) scale(0.9);}
    26%{opacity: 0; transform:translateX(10px) scale(0.9);}
    55% {opacity: 1; transform: translateX(0px) scale(1);}
}

@keyframes bounceAlphaE {
    0% {opacity: 1; transform: translateX(0px) scale(1);}
    25%{opacity: 0; transform:translateX(10px) scale(0.9);}
    26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
    55% {opacity: 1; transform: translateX(0px) scale(1);}
}

@keyframes bounceAlphaN {
    0% {opacity: 1;
        transform: translateY(0px) scale(1);
        /* -ms-transform: translateY(0px) scale(1);
        -webkit-transform: translateY(0px) scale(1); */

    }
    25%{opacity: 0;
        transform:translateY(10px) scale(0.9);
        /* -ms-transform:translateY(10px) scale(0.9);
        -webkit-transform:translateY(10px) scale(0.9); */
    }
    26%{opacity: 0;
        transform:translateY(-10px) scale(0.9);
        /* -ms-transform:translateY(-10px) scale(0.9);
        -webkit-transform:translateY(-10px) scale(0.9); */
    }
    55% {opacity: 1;
        transform: translateY(0px) scale(1);
        /* -ms-transform: translateY(0px) scale(1);
        -webkit-transform: translateY(0px) scale(1); */
    }
}

@keyframes bounceAlphaS {
    0% {opacity: 1; transform: translateY(0px) scale(1);}
    25%{opacity: 0; transform:translateY(-10px) scale(0.9);}
    26%{opacity: 0; transform:translateY(10px) scale(0.9);}
    55% {opacity: 1; transform: translateY(0px) scale(1);}
}



