<!DOCTYPE html>
<html>
<head>
    <title>Simple Chat</title>
</head>
<body>
    <div id="message-container">
        <ul id="messages"></ul>
    </div>
    <input id="message-input" autocomplete="off" /><button onclick="sendMessage()">Send</button>
    <button onclick="checkMultithreading()">Check Multithreading</button>
    <div id="multithreading-status"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        var socket = io.connect('/test');
        console.log("socket: ", socket)

        function sendMessage() {
            var messageInput = document.getElementById('message-input');
            var message = messageInput.value;
            //console.log('message: ', document.getElementById('message-input').value)

            messageInput.value = '';

            socket.emit('message', message);
        }

        function checkMultithreading() {
            fetch('/check_multithreading')
                .then(response => response.json())
                .then(data => {
                    var multithreadingStatus = document.getElementById('multithreading-status');
                    multithreadingStatus.textContent = data.message;
                });
        }

        socket.on('response', function (message) {
            var messages = document.getElementById('messages');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(message));
            messages.appendChild(li);
        });
    </script>
</body>
</html>
