<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Start Drop Down Integral</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dropdownIntegral.css') }}">
  <!-- <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"> -->
</head>
<body>
  <div class="intro-wrapper">
    <div class="startEffect" id="startEffect">Start Drop Down Integral</div>
    <div class="integral-container">
        <math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
            <mi class="integral" id="integral">&int;</mi>
        </math>
        <div class="text-column" id="text-column">
                <div class="grid3x2__cell" id="grid3x2__cell"></div>
                <div class="grid3x2__cell" id="grid3x2__cell"></div>
                <div class="grid3x2__cell" id="grid3x2__cell"></div>
                <div class="grid3x2__cell" id="grid3x2__cell">
                  <div class="paper">
                    <!-- <div class="content" id="content">Stephen Hodson</br>March 24, 2008</br>ME608</div> -->
                    <div class="vertical-line left zero"></div>
                    <div class="hole hole1"></div>
                    <div class="hole hole0"></div>
                    <div class="hole hole2"></div>
                    <div class="pdf"></div>
                  </div>
                </div>
                <div class="grid3x2__cell" id="grid3x2__cell">4</div>
                <div class="grid3x2__cell" id="grid3x2__cell">
                  <canvas class="matrixCanvas" id="matrixCanvas"></canvas>
                </div>
            <!-- <div class="bullet-list" id="bullet-list"></div> -->
        </div>
    </div>
  </div>

  <!-- Popup container for the PDF -->
  <div id="pdfPopup">
    <div id="pdfContainer">
      <object id="pdfObject" type="application/pdf" width="100%" height="100%"></object>
    </div>
    <!-- <button class="closePDF" id="closePDF">Close</button> -->
    <!-- <button class="closePDF" id="closePDF" onclick="closePdfPopup()">Close</button> -->
  </div>
  <!-- <script>
    function closePdfPopup() {
      document.getElementById('pdfPopup').style.display = 'none';
    }
  </script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='dropdownIntegral.js') }}"></script>
</body>
</html>
