<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TV Screen Effect</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='gptTVScreen.css') }}">
</head>
<body>
  <div class="wrapper">
    <div class="startEffect" id="startEffect">Start TV Effect</div>
    <div class="text-container">
        <span id="textContent"></span>
    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='gptTVScreen.js') }}"></script>
</body>
</html>
