<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://mincss.com/entireframework.min.css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>CFD</title>
  </head>
  <body class="body">
    <div class="container-nav">
      <nav class="navbar">
        <div class="logo-home">CFD</div>
        <ul class="nav-links">
            <div class="menu">
              <li><a href="/" onclick="" class="home" id="home">Home</a></li>
              <li><a href="/simulate" class="simulate" id="simulate">Simulate</a></li>
            </div>
        </ul>
      </nav>
    </div>

    <div class="container0" id="container0">
      <div class="page0" id="page0">

        <div class="hero0" id="hero0">
          <!-- <div class="grid-wrapper" id="grid-wrapper"> -->
            <div class="grid0-wrapper" id="grid0-wrapper">
              <div class="grid0" id="grid0"></div>
            </div>
            <div class="grid1-wrapper" id="grid1-wrapper">
              <div class="grid1" id="grid1"></div>
            </div>
            <div class="grid2-wrapper" id="grid2-wrapper">
              <div class="grid2" id="grid2"></div>
            </div>
          <!-- </div> -->

          <div class="example12" id="example12">
          </div>
          <!-- <div class="example12 info" id="example12 info">
          </div> -->
        </div>

      </div>
    </div>

    <!-- <div class="curtain">
      <div class="curtain__wrapper">
        <input type="checkbox" checked class="checkbox" id="checkbox">
      </div>
    </div>  -->

  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</html>
