<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://mincss.com/entireframework.min.css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>CFD</title>
  </head>
  <body class="body">
    <div class="container0">
      <nav class="navbar">
        <ul class="nav-links">
            <div class="menu">
              <li><a href="/" onclick="" class="home" id="home">Home</a></li>
              <li><a href="/simulate" class="simulate" id="simulate">Simulate</a></li>
            </div>
        </ul>
        <div class="logo-home">CFD</div>
      </nav>
    </div>

    <!-- The parent component -->
    <div class="curtain">

      <!-- The component wrapper -->
      <div class="curtain__wrapper">

        <!-- The checkbox hack! -->
        <input type="checkbox" checked class="checkbox" id="checkbox">

      </div> <!-- curtain__wrapper -->

    </div> <!-- curtain -->
  </body>
  <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</html>
