{% extends 'layout.html' %}

{% block title %}Password Reset Email Verification{% endblock %}

{% block additional_head %}

    <link rel="stylesheet" href="https://mincss.com/entireframework.min.css" crossorigin="anonymous"/>
    <!-- <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>

    <style>
        body {
          background-color: black !important;
        }
        /* Override styles for textarea and input[type=text] */
        textarea,
        input[type=text] {
          -webkit-appearance: initial !important; /* Reset appearance */
          width: 100%;
        }
        .form-login { width: 12rem !important; }
    </style>

{% endblock %}

{% block content %}
    <h1>Password Reset</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="pwreset-container" id="pwreset-container">

        <form method="POST" action="{{ url_for('password_reset') }}">
            {{ form.hidden_tag() }} <!-- This includes CSRF token -->
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div id="submit-div">
                {{ form.submit() }}
            </div>
        </form>

        <!-- <button id="loginRegisterButton" style="display: grid">Register</button> -->
    </div>


    {% if notify %}

        {% if token_expired %}
            <div class="reset-password-container" id="reset-password-container">
                <div style="grid-row: 1 / -1">{{ msg }}</div>
            </div>
        {% endif %}

        {% if invalid_credentials %}
            <div class="reset-password-container" id="reset-password-container" style="border-color: salmon;">
                <div style="grid-row: 1 / -1">Invalid username and/or email address.</div>
            </div>
        {% endif %}

        {% if msg["flag"] == "success" %}
            <div class="reset-password-container" id="reset-password-container" style="border-color: rgba(140, 200, 102, 1);">
                <div style="grid-row: 1 / -1">{{ msg["msg"] }}</div>
            </div>

            <script>
                document.getElementById('reset-password-container').style.borderColor = 'rgba(140, 200, 102, 1)'; //okgreen
            </script>
        {% endif %}

        {% if not invalid_credentials %}
            <script>
                // retrieve values from the URL query parameters
                const urlParams = new URLSearchParams(window.location.search);
                const flagParam = urlParams.get('flag');

                // convert the flag parameter to a boolean
                const flag = flagParam === 'True';

                if (flag) {
                    document.getElementById('reset-password-container').style.borderColor = 'salmon'; //fail
                } else {
                    document.getElementById('reset-password-container').style.borderColor = 'rgba(140, 200, 102, 1)'; //okgreen
                }

                //if (flag === false) {
                //    document.getElementById('reset-password-container').style.borderColor = 'rgba(140, 200, 102, 1)'; //okgreen
                //}
            </script>
            {% endif %}

        <script>
            const resetPasswordContainer = document.getElementById('reset-password-container');
            console.log('resetPasswordContainer: ', resetPasswordContainer)

            let resetPasswordContainerHeight = resetPasswordContainer.getBoundingClientRect().top + resetPasswordContainer.offsetHeight;
            //resetPasswordContainer.style.top = `${loginContainer.getBoundingClientRect().top + parseFloat(window.getComputedStyle(document.querySelector(".navbar")).getPropertyValue("border-bottom-width"))}px`;
            resetPasswordContainer.style.top = `
                ${resetPasswordContainerHeight +
                    23*parseFloat(window.getComputedStyle(document.querySelector(".navbar")).getPropertyValue("border-bottom-width"))}px`;
        </script>

    {% endif %}

    <script>
        function enableButtons() {
            document.getElementById('loginButton').classList.add('disabled');
        }

        enableButtons()
    </script>
{% endblock %}
