<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://mincss.com/entireframework.min.css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>CFD - Simulate</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
  </head>
  <body class="body" id="body" style="zoom: 100%">

    <div class="container0">
      <nav class="navbar">
        <ul class="nav-links">
            <div class="menu">
              <li><a href="/" onclick="">Home</a></li>
              <li><a href="/simulate">Simulate</a></li>
            </div>
        </ul>
        <div class="logo">Simulation Zone</div>
      </nav>
    </div>

    <div class="upper">
      <div class="hero0" id="hero0">
        <div class="grid0">

          <div class="form">
            <form action="">
              <p>
                <label for="input-T" class="input">Fluid Temp</label></br>
                <input type="text" class="input" id="input-T" value="60" placeholder="60&#8451">
                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
              </p>
              <p>
                <label for="input-U" class="input">Plate Velocity</label></br>
                <input type="text" class="input" id="input-U" value="10" placeholder="10">
                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
              </p>
              <p>
                <label for="input-Re" class="input">Re</label></br>
                <input type="text" class="input" id="input-Re" value="400" placeholder="400">
                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
              </p>
              <p>
                <label for="input-N" class="input"># of CVs</label></br>
                <input type="text" class="input" id="input-N" value="20" placeholder="30">
                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
              </p>
              <p>
                <label for="input-F" class="input">Fluid</label></br>
                <select class="select">
                  <option value="Water">Water</option>
                  <option value="R134a">R134a</option>
                </select>
                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
              </p>
              <!-- <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" /> -->
            </form>
          </div>

          <div class="status">
            <button class="btn btn-sm btn-outline-primary btn0" id="run"></button>
            <button class="btn btn-sm btn-outline-primary btn1" id="uv"></button>
            <button class="btn btn-sm btn-outline-primary btn2" id="streamline"></button>
            <button class="btn btn-sm btn-outline-primary btn3" id="reset1"></button>
          </div>

        </div>
      </div>
    </div>

    <div class="container1">
      <div class="hero1">
        <div class="grid1">
          <canvas class="myChart1" id="myChart1" style="width:75%;height:400px;"></canvas>
        </div>
      </div>
    </div>

    <div class="container2">
      <div class="hero2">
        <div class="grid2" id="grid2">
          <!-- <div class="anim" id="anim"> -->
              <canvas class="myChart2" id="myChart2" style="width:75%;height:250px;"></canvas>
            <!-- </div> -->
        </div>
      </div>
    </div>

    <div class="rotating-border rotating-border--google">

    </div>



    <script type="text/javascript" src="{{ url_for('static', filename='simulate.js') }}"></script>
  </body>
</html>
